/* PC */
@media screen and (min-width: 992px) {
    .hidden-on-pc {
        display: none;
    }
}

/* Table and mobile */
@media screen and (max-width: 991.98px) {
    /* common */

    .hidden-on-table-mobile {
        display: none;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    /* header */
    header {
        padding-top: 0;
    }

    a:has(.header-group__logo) {
        order: 2;
        margin-right: 40px;
    }

    .menu__web-icon {
        order: 1;
    }

    .menu__container {
        position: relative;
    }

    .control__menu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }

    .control__menu > i {
        font-size: 2.5rem;
        color: var(--color-text-desc);
    }

    .control__layer {
        display: block;
        background-color: var(--color-text-heading);
        opacity: 0.7;
        position: fixed;
        inset: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 100;
    }

    .control__drawer {
        display: block;
        background-color: var(--background-color);
        position: fixed;
        inset: 0 0 0 40%;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding: 20px;
        z-index: 101;
    }

    .control__drawer > .header-group__logo {
        flex-direction: column;
        align-items: end;
    }

    .control__input:checked ~ .control__layer {
        transform: translateX(0);
    }

    .control__input:checked ~ .control__drawer {
        transform: translateX(0);
    }

    .nav__list-mobile {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
    }

    .menu__container {
        border-bottom: 1px solid #d6d3e2;
    }

    /* hero */

    .hero {
        padding-top: 50px;
    }

    .hero__heading {
        margin-top: 0;
    }

    .hero-group__cta {
        margin-top: 30px;
    }

    .hero-group__follow {
        margin-top: 30px;
    }

    .hero__image {
        text-align: center;
    }

    /* company */

    .company__heading {
        text-align: center;
        margin: 0 auto;
    }

    .company__heading::before {
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .gap-50 {
        gap: 50px;
    }

    .row-gap-30 {
        row-gap: 30px;
    }

    .company__gallery {
        justify-content: center;
    }

    /* service */

    .service {
        margin-top: 131px;
    }

    .service__bottom {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .service__card {
        display: none;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .service__control {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .service__control:has(input:nth-child(1):checked)
        ~ .row
        > *:nth-child(1)
        > .service__card {
        display: block;
        transform: translateX(0);
    }

    .service__control:has(input:nth-child(2):checked)
        ~ .row
        > *:nth-child(2)
        > .service__card {
        transform: translateX(0);
        display: block;
    }

    .service__control:has(input:nth-child(3):checked)
        ~ .row
        > *:nth-child(3)
        > .service__card {
        transform: translateX(0);
        display: block;
    }

    .service__control-radio {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid var(--color-primary);
        position: relative;
    }

    .service__control-radio::before {
        content: "";
        display: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--color-primary);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input:nth-of-type(1):checked
        ~ .service__control-radio:nth-of-type(1)::before {
        display: block;
    }

    input:nth-of-type(2):checked
        ~ .service__control-radio:nth-of-type(2)::before {
        display: block;
    }

    input:nth-of-type(3):checked
        ~ .service__control-radio:nth-of-type(3)::before {
        display: block;
    }
}

/* Table */
@media screen and (max-width: 991.98px) and (min-width: 768px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
}

.none {
    display: none;
}
