:root {
    --color-text-heading: #080415;
    --color-test-desc: #51586a;
    --color-primary: #5d3bee;
    --background-color: #fbfaff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", serif;
}

/* common */

/* header */
header {
    position: sticky;
    top: -20px;
    left: 0;
    padding-top: 20px;
    background-color: var(--background-color);
}

.header__container {
    width: min(calc(100% - 24px), 1330px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-group__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo {
    width: 46px;
}

.header__title-logo {
    color: var(--color-text-heading);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.header__web-icon {
    width: 100px;
}

.nav__list {
    display: flex;
    margin-right: -21px;
}

.nav__item {
    padding: 0 21px;
    color: var(--color-test-desc);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    transition: font-weight ease 0.3s;
}

.nav__item a {
    display: inline-block;
}

.nav__item a::before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav__item:hover {
    font-weight: 700;
}
