:root {
    --color-text-heading: #080415;
    --color-text-desc: #51586a;
    --color-primary: #5d3bee;
    --background-color: #fbfaff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", serif;
}

/* common */
.heading-lv-1 {
    color: var(--color-text-heading);
    font-size: 8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.desc {
    color: var(--color-text-desc);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
}

.btn {
    color: #fdfdfd;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.67;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: 62px;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--background-color);
    transition: background-color ease 0.3s, color ease 0.3s,
        border-radius ease 0.3s;
}

.btn:hover {
    background-color: var(--background-color);
    color: var(--color-primary);
    border-radius: 8px;
}

/* header */
header {
    position: sticky;
    top: -20px;
    left: 0;
    padding-top: 20px;
    background-color: var(--background-color);
    z-index: 999;
}

.header__container {
    width: min(calc(100% - 24px), 1330px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-group__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo {
    width: 46px;
}

.header__title-logo {
    color: var(--color-text-heading);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.header__web-icon {
    width: 100px;
}

.nav__list {
    display: flex;
    margin-left: -21px;
    margin-right: -21px;
}

.nav__item {
    padding: 0 21px;
    color: var(--color-test-desc);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    transition: font-weight ease 0.3s;
}

.nav__item a {
    display: inline-block;
}

.nav__item a::before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav__item:hover {
    font-weight: 700;
}

/* hero */
.hero {
    padding-top: 44px;
    background-color: var(--background-color);
}

.hero__image {
    position: relative;
}

.hero__img {
    position: relative;
    z-index: 2;
}

.hero__layer {
    position: absolute;
    top: -80px;
    left: -160px;
    z-index: 1;
}

.hero__content {
    position: relative;
    z-index: 2;
}

.hero__heading {
    margin-top: 137px;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
}

.hero-group__cta {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero__link {
    color: var(--color-text-heading);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    transition: color ease 0.3s;
}

.hero__link:hover {
    color: var(--color-primary)
}

.hero__layer-2 {
    position: absolute;
    width: 224px;
    right: -130px;
    bottom: -160px;
}

.hero-group__follow {
    margin-top: 109px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.hero__title {
    color: var(--color-text-desc);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.88; /* 187.5% */
}

.hero__icon-gallery {
    display: flex;
    gap: 20px;
}

.hero__icon-gallery svg {
    transition: transform ease 0.3s;
}

.hero__icon-gallery svg:hover {
    transform: scale(1.5);
}
