:root {
    --color-text-heading: #080415;
    --color-text-desc: #51586a;
    --color-primary: #5d3bee;
    --background-color: #fbfaff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", serif;
}

/* adjust grid system */

.h-100 {
    height: 100%;
}

.ml-100 {
    margin-left: 100px;
}

.align-content__space-between {
    align-content: space-between;
}

/* common */
.heading-lv-1 {
    color: var(--color-text-heading);
    font-size: 8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.heading-lv-2 {
    color: var(--color-text-heading);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -1.68px;
}

.desc {
    color: var(--color-text-desc);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
}

.title {
    color: var(--color-text-heading);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}

.link {
    color: var(--color-text-heading);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    transition: color ease 0.3s;
}

.link:hover {
    color: var(--color-primary);
}

.btn {
    color: #fdfdfd;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.67;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: 62px;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--background-color);
    transition: background-color ease 0.3s, color ease 0.3s,
        border-radius ease 0.3s;
}

.btn:hover {
    background-color: var(--background-color);
    color: var(--color-primary);
    border-radius: 8px;
}

/* header */
header {
    position: sticky;
    top: -20px;
    left: 0;
    padding-top: 20px;
    background-color: var(--background-color);
    z-index: 999;
}

.header__container {
    width: min(calc(100% - 24px), 1330px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-group__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo {
    width: 46px;
}

.header__title-logo {
    color: var(--color-text-heading);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.header__web-icon {
    width: 100px;
}

.nav__list {
    display: flex;
    margin-left: -21px;
    margin-right: -21px;
}

.nav__item {
    padding: 0 21px;
    color: var(--color-test-desc);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    transition: font-weight ease 0.3s;
}

.nav__item a {
    display: inline-block;
}

.nav__item a::before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav__item:hover {
    font-weight: 700;
}

/* hero */
.hero {
    padding-top: 44px;
    background-color: var(--background-color);
}

.hero__image {
    position: relative;
}

.hero__img {
    position: relative;
    z-index: 2;
}

.hero__layer {
    position: absolute;
    top: -80px;
    left: -160px;
    z-index: 1;
}

.hero__content {
    position: relative;
    z-index: 2;
}

.hero__heading {
    margin-top: 137px;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
}

.hero-group__cta {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero__layer-2 {
    position: absolute;
    width: 224px;
    right: -130px;
    bottom: -160px;
}

.hero-group__follow {
    margin-top: 109px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.hero__subtitle {
    color: var(--color-text-desc);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.88; /* 187.5% */
}

.hero__icon-gallery {
    display: flex;
    gap: 20px;
}

.hero__icon-gallery svg {
    transition: transform ease 0.3s;
}

.hero__icon-gallery svg:hover {
    transform: scale(1.5);
}

/* company */
.company {
    margin-top: 111px;
}

.company__heading {
    position: relative;
    width: 253px;
}

.company__heading::before {
    position: absolute;
    top: 25%;
    left: calc(-1 * (84px + var(--spacer)));
    transform: translateY(-50%);
    display: inline-block;
    content: "";
    width: 84px;
    height: 2px;
    background-color: var(--color-primary);
}

.company__gallery {
    display: flex;
    align-items: center;
    gap: 12px;
}

.company__subtitle {
    font-weight: 600;
}

/* service */

.service {
    margin-top: 133px;
}

.service__top {
    text-align: center;
}

.service__desc {
    margin: 20px auto 0;
    width: 534px;
}

.service__bottom {
    margin-top: 60px;
}

.service__card {
    background: var(--background-color);
    padding: 33px 22px 32px 23px;
}

.service__icon {
    width: 74px;
}

.service__title {
    margin-top: 22px;
}

.service__subtitle {
    margin-top: 15px;
}

/* work */
.work {
    margin-top: 140px;
    padding-top: 86px;
    padding-bottom: 86px;
    background-color: var(--color-primary);
}

.work__heading {
    color: #fff;
    width: 468px;
}

.work__desc {
    color: #fff;
    width: 370px;
    margin-left: 28px;
}

.work__bottom {
    margin-top: 70px;
}

.work__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 24px 23px 23px 34px;
}

.work__subtitle {
    margin-top: 10px;
}

.work__link {
    color: var(--color-text-heading);
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.work__wrap {
    margin-top: 80px;
    text-align: center;
}
.work__all-project {
    background-color: #fff;
    color: var(--color-text-heading);
}

/* statistical */
.statistical {
    margin-top: 140px;
}

.statistical__top {
    text-align: center;
}

.statistical__group-statistical {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.statistical__greeting {
    color: var(--color-primary);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.statistical__heading {
    margin-top: 10px;
    min-width: 490px;
}

.statistical__desc {
    margin: 15px auto 70px;
    width: 570px;
}

.statistical__group-statis {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.statistical__group-statis::after,
.statistical__group-statis::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    background-color: var(--color-text-heading);
    opacity: 0.2;
}

.statistical__group-statis::before {
    top: 0;
}

.statistical__group-statis::after {
    bottom: 0;
}

.statistical__item-statis > strong {
    color: var(--color-text-heading);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35; /* 135.714% */
    letter-spacing: 1.68px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.statistical__item-desc {
    width: 160px;
}

.statistical__item-statis {
    text-align: left;
}

.statistical__bottom {
    margin-top: 70px;
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.statistical__video {
    position: absolute;
    top: 0;
    left: 0;
}
